@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}
